* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  font-family: "League Spartan", sans-serif;
}
html{
  scroll-behavior: smooth;
}
.card{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px 20px 70px;
  margin: 10px 0 0 0;
  height: 328px;
  display: flex;
 
}
.clothingsGrid{
  display: grid;
  grid-template-columns: minmax(225px, 1fr) minmax(225px, 1fr) minmax(225px, 1fr) minmax(225px, 1fr);
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  margin: 10px 85px;
  .namePrice{
    margin-top: 250px;
  }
  #clotheName{
    font-family: "League Spartan", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
    color: #858383;
    #price{
      font-family: "League Spartan", sans-serif;
      font-weight: 700;
      font-size: 14px;
    }
  }
}
.footer{
  margin: 0 85px;
  h4{
    font-size: 12px;
    color: #858383;
  }
  .footerHead{
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    h4{
      padding: 19px;
      color: #FFFFFF;
      font-weight: 600;
    }
    form{
      display: flex;
      padding: 12px;
    }
  }
  .footerBody{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    div{
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      a{
        text-decoration: none;
        color: #808080;
        font-size: 12px;
        font-weight: 400
      }
    }
  }
}
.header{
  background-color: black;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  h6{
    padding: 2px;
    color: #FFFFFF;
    margin-left: 8px;
    margin-right: 24px;
    font-weight: 500;
    font-size: 12px;
    font-family: "League Spartan", sans-serif;
  }
  .header-left{
    display: flex;
    margin-left: 85px;
  }
  .header-right{
    right: 0;
    top: 0;
    position: absolute;
    margin-right: 85px;
    display: flex;
    gap: 10px;
  }
}
/* .hero{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 80vh;
  padding: 10px;

  .women{
    grid-row: 1 / 2 ;
    grid-column: 2 / 3;
  }
  .banner{
    grid-row: 1 / span 2;
    grid-column: 1 / 2;
  }
  .men{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  .accessories{
    grid-row: 2 /3;
    grid-column: 2 / 3;
  }
  .right-top-grid{
    width: 255px;
    height: 200px;
  }
} */
.hero{
  display: flex;
  height: 80vh;
  gap: 10px;
  margin: 50px 85px 0 85px;

  .hero-left{
    width: 50%;
  }
  .hero-right{
    width: 100%;
    .grid-container{
      display: grid;
      height: 80vh;
      grid-template-columns:minmax(150px, 2fr) minmax(200px, 1fr) minmax(200px, 1fr);
      /* grid-template-columns: 540px 255px 255px; */
      grid-template-rows: 1fr 1fr;
      gap: 10px;
      .Explore{
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 10px;
        box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
        margin: 10px 0 0 0;
        text-align: center;
        width: auto;
        grid-row: 1 / span 2;
      }
      .women{
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 10px;
        box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
        margin-top: 10px;
        text-align: center;
        width: auto;
        /* height: 200px; */
      }
      .men{
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 10px;
        box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
        margin-top: 10px;
        text-align: center;
        width: auto;
        /* height: 200px; */
      }
      .accessories{
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 10px;
        box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
        text-align: center;
        width: auto;
        height: auto;
        grid-column: 2 / span 3;
      }
    }
  }
}
.heroFooter{
  display: flex;
  margin: 30px 85px;
  gap: 30px;
  justify-content: space-between;
  h4{
    font-family: "League Spartan", sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding-top: 10px;
    span{
      font-weight: 500;
    }
  }
}
nav{
  position: fixed;
  display: flex;
  width: 100%;
  padding: 5px 0;
  top: 15px;
  gap: 128px;
  background-color: #FFFFFF;
  a{
    text-decoration: none;
    color: #121212;
  }
  a:hover{
    color: #858383;
  }
  ul{
    display: flex;
    gap: 32px;
    list-style-type: none;
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    h4{
      font-weight: 400;
      font-size: 14px;
    }
  }
  .nav-left{
    margin: 0 0 0 85px;
    h2{
      font-weight: 400;
      font-size: 36px;
      font-family: "League Spartan", sans-serif;

    }
  }
  .nav-right{
    position: absolute;
    right: 0;
    margin: 0 85px 0 0;
    display: flex;
    gap: 24px;
  }
  .nav-middle{
    margin-left: 70px;
    padding: 10px;
  }
}
.nextSection{
  .womenHeader{
    display: flex;
    justify-content: space-between;
    margin: 10px 85px 0;
    div{
      display: flex;
      gap: 32px;
      h3{
        font-family: "League Spartan", sans-serif;
        font-size: 22px;
        font-weight: 600;
      }
      h5{
        font-family: "League Spartan", sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: #858383;
        cursor: pointer;
      }
      h5:hover{
        color: #121212;
      }
      .rightSide{
        padding: 10px 0;
      }
    }
  }
  .seeAll{
    margin: 48px 85px;
    display: flex;
    justify-content: center;
    background-color: #808080;
    padding: 17px;
    cursor: pointer;
    h4{
     font-weight: 500;
      font-size: 13px;
      line-height: 100%;
    }
    h4:hover{
      color:aliceblue
    }
  }
}
#men{
  scroll-margin-top: 70px;
}
#women{
  scroll-margin-top: 70px;
}